# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Atom Terminal'
      'submenu': [
        { 'label': 'New', 'command': 'terminal:new' }
        { 'label': 'Toggle', 'command': 'terminal:toggle' }
        { 'label': 'Prev', 'command': 'terminal:prev' }
        { 'label': 'Next', 'command': 'terminal:next' }
      ]
    ]
  }
]
